footer{
    .sectionNewsletter{
        display: flex;
        flex-direction: column;
        background-color: $terciaryColor;
        justify-content: center;
        align-items: center;
        padding: 50px;
        h2{
            @include textos ($secondaryColor,$fontMD,$fontBold,0)

        }
        h3{
            @include textos ($secondaryColor,$fontS,$fontLight,0)
        }
        form{
            margin-bottom: 10px;
            div{
                width: 100%;
                input.relleno{
                    height: 20px;
                }
                label{
                    font-family: $mainFont;
                    color: $secondaryColor;
                    font-size: $fontS;
                    font-weight: $fontMD;
                    padding: 0px;
                }
                
            }
            button{
                @include button ($fontS,$fontNormal,100%, 0,center,center);
            }
        }
    }
    .sectionFooter{
        background-color: $quaternaryColor;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .pagesFooter{
            display: flex;
            .navFooter{
                list-style-type: none;
                text-decoration: none;
                display: flex;
                @media (max-width:992px){
                    flex-direction: column;
                    align-items: center;
                }
                }
                li{
                    margin: 0 50px;
                    }
                    a{
                        @include textos ($secondaryColor,$fontS,$fontLight,0);
                        text-decoration: none;
                    }     
                }
            }
        }
        .socialsFooter{
            margin: 20px 0 0 0;
            ul{
                display: flex;
                list-style: none;
                li{
                    a{
                        img{
                            width: 30px;
                            margin: 0 100px;
                            @media (max-width:992px){
                                margin: 0 50px;
                            }
                            @media (max-width:576px){
                                margin: 0 20px;
                            }
                        }
                    }
                }
            }
        }
    


