//colores
$mainColor: rgb(221,255,13);
$secondaryColor: rgb(232, 234, 235);
$terciaryColor: rgb(30, 30, 30);;
$quaternaryColor: rgb(20, 20, 20);

//fonts
$mainFont: 'Chakra Petch', sans-serif;

//sizings
$fontXS: 0.95rem;
$fontS: 1rem;
$fontMD: 1.25rem;
$fontXL: 1.5rem;
$fontXXL: 1.75rem;

//weights
$fontLight:300;
$fontNormal:500;
$fontBold:800;

//align
$textLeft: left;
$textCenter: center;
$textRight: right;

//justify
$Center:center;
$Start: start;
$End: end;

//display
$flex: flex;
$grid: grid;

//bordes
$borderNone: none;


